<h1 id="tableLabel">Books</h1>

<p>This component demonstrates fetching books from the server</p>

<button class="btn btn-primary" [routerLink]="['/book-add']">Add duckbill</button>

<p *ngIf="!books"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="books">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>FirstEdition</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.firstEdition }}</td>
      <td> <a class="btn btn-primary" href="/book-edit?id={{book.id}}">Edit</a></td>
      <td><button class="btn btn-primary" (click)="deleteBook(book)">Delete</button></td>
    </tr>
  </tbody>
</table>
