<h1 id="tableLabel">Update Book</h1>
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Book's name</mat-label>
        <input matInput [(ngModel)]="book.name" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Author</mat-label>
        <input matInput [(ngModel)]="book.author" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>First Edition</mat-label>
        <input matInput [(ngModel)]="book.firstEdition" />
      </mat-form-field>
    </td>
  </tr>
</table>
<button class="btn btn-primary" (click)="editBook()">Save Book</button>
